.wrapper {
  display: grid;
  grid-template-areas: 
  'h h h'
  'n l a' 
  ;

  grid-template-rows: 60px 1fr 1fr;
  grid-template-columns: 2fr 10fr 10fr;
}

.header {
  grid-area: h;
  background-color: lightgray;
}

.list-today {
  grid-area: l;
  background-color: aquamarine;
}

.list-tomorrow {
  grid-area: a;
  background-color: saddlebrown;
}

.nav {
  grid-area: n;
}

.header img {
  max-width: 50px;
}